<%- include('../includes/start.ejs') %>

<%- include('../includes/headBody.ejs') %>
    <%- include('../includes/header.ejs') %>
    <%- include('../includes/navigation.ejs') %>


    <main class="main-body">
        <h1>Student's Info for parents</h1>
    </main>

<%- include('../includes/end.ejs') %>
