<%- include('./includes/start.ejs') %>

<%- include('./includes/headBody.ejs') %>
    <%- include('./includes/header.ejs') %>
    <%- include('./includes/navigation.ejs') %>


    <main class="main-body">
        <br>
        <h2>Here, students and teachers can login to make their official works much easier.</h2>
        <img src="https://sarkarijobnews.com/wp-content/uploads/2017/02/NIT-Kurukshetra-400x200@2x.jpg" alt="NITK Image" id="nitkimg">
        <br><br><br><br><br>
        **This website is developed for educational use only. 
    </main>

<%- include('./includes/end.ejs') %>
