<%- include('./includes/start.ejs') %>
    <style>
        .teamMemberInfo {
            background-color: rgb(54, 49, 100);
            color: aqua;
            padding: 2rem;
            margin: 1rem;
            border-radius: 1rem; 
            font-family: Arial, Helvetica, sans-serif;
            
        }
    </style>

<%- include('./includes/headBody.ejs') %>
    <%- include('./includes/header.ejs') %>
    <%- include('./includes/navigation.ejs') %>


    <main class="main-body">
        <br>
        <div class="teamMemberInfo">
            <h1>Anirudh</h1>
            <h2>Roll No. : 11812066</h2>
            <h2>CS - 3</h2>
        </div>
        <div class="teamMemberInfo">
            <h1>Lakshya</h1>
            <h2>Roll No. : 11812071</h2>
            <h2>CS - 3</h2>
        </div>
        <div class="teamMemberInfo">
            <h1>Arsh Pental</h1>
            <h2>Roll No. : 11812063</h2>
            <h2>CS - 3</h2>
        </div>
        <div class="teamMemberInfo">
            <h1>Jayesh Bhojwani</h1>
            <h2>Roll No. : 11812075</h2>
            <h2>CS - 3</h2>
        </div>
    </main>

<%- include('./includes/end.ejs') %>
